<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="Layout"	layout:fragment="content"	class="row"	>
	<div class="col-md-12">           
		<div class="panel panel-default"> 
		<div class="panel-heading">
                         modifier un equipement
                        </div>
		
			<div class="panel-body">
			<form  class="input-group-lg"	action="#" th:action="@{/equipement/edit}"  method="post">
   
	<div class="form-group">
	  <label class="control-label">Numero de telephone</label>
	  <input type="text" class="form-control" th:value="${equipement.num}" name="num"/>
	</div>
	<div class="form-group">
	  <label class="control-label">date de debut du service</label>
	  <input type="text" class="form-control" th:value="${equipement.dateDService}" name="date_d_service"/>
	</div>
	<div class="form-group">
	  <label class="control-label">date de fin du service</label>
	  <input type="text" class="form-control" th:value="${equipement.dateFService}" name="date_f_service"/>
	</div>
	<div class="form-group">
	  <label class="control-label">Eta</label>
	  <input type="text" class="form-control" th:value="${equipement.eta}" name="eta"/>
	</div>
	<div class="form-group">
	  <label class="control-label">type d'alimentation</label>
	  <input type="text" class="form-control" th:value="${equipement.typeAlimentation}" name="type_alimentation"/>
	</div>

	<div class=" form-group">
	  <label class="control-label">Descroption de la stucture</label>
	  <input type="text" class="form-control" th:value="${equipement.descr}" name="descr"/>
	</div>

	


   <input type="submit" value="OK"/>  <a th:href="@{~/equipement}"><h3>annuler</h3> </a>
   
</form>
			
			</div>
		</div>
	</div>
</div>
