<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="Layout"	layout:fragment="content"	class="row"	>
	<div class="col-md-12">           
		<div class="panel panel-default"> 
		<div class="panel-heading">
                         add utilisateur
                        </div>
		
			<div class="panel-body">
			<form  class="input-group-lg"	action="#" th:action="@{/user/add}"  method="post">
   
	<div class="form-group">
	  <label class="control-label">NNI</label>
	  <input type="text" class="form-control" th:value="${user.nni}" name="nni"/>
	</div>

	<div class=" form-group">
	  <label class="control-label">username</label>
	  <input type="text" class="form-control" th:value="${user.username}" name="username"/>
	</div>
	<div class=" form-group">
	  <label class="control-label">Email</label>
	  <input type="text" class="form-control" th:value="${user.email}" name="email"/>
	</div>
	<div class=" form-group">
	  <label class="control-label">password</label>
	  <input type="password" class="form-control" th:value="${user.password}" name="password"/>
	</div>
   <input type="submit" value="OK"/>
 
</form>
			
			</div>
		</div>
	</div>
</div>
