 <nav  
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		class="navbar-default navbar-side" role="navigation"
		layout:fragment="nav"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
		
                      <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    
                    <li>
                        <a   href=""><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIND')">
                        <a  href=""><i class="fa fa-table fa-3x"></i> Gestion des Structures<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                               
                                <a th:href="@{~/structure/add}">nouveau</a>
                                
                            </li>
                            <li>
                                <a th:href="@{~/structure}">liste</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li	sec:authorize="hasAuthority('ADMINS')">>
                        <a  href=""><i class="fa fa-edit fa-3x"></i> Gestion des utilisateurs<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                 <a th:href="@{~/user/add}">nouveau</a>
                            </li>
                            <li>
                                <a th:href="@{~/user}">liste</a>
                            </li>
                            
                        </ul>
                    </li>
                     <li	sec:authorize="hasAuthority('ADMIND')">
                        <a  href=""><i class="fa fa-table fa-3x"></i> Gestion des equipements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                 <a th:href="@{~/equipement/add}">nouveau</a>
                               
                            </li>
                            <li>
                                  <a th:href="@{~/equipement}">liste</a>                               
                            </li>
                           
                            
                        </ul>
                    </li>
                     <li>
                        <a  href=""><i class="fa fa-table fa-3x"></i> Gestion des objects<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                 <a th:href="@{~/objet/add}">nouveau</a>
                               
                            </li>
                            <li>
                                  <a th:href="@{~/objet}">liste</a>                               
                            </li>
                           
                            
                        </ul>
                    </li>
                </ul>
               
            </div>
            
 </nav> 